<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Crear Modelos</title>

	<!-- Importamos estilos de adminLte-->
	<div th:replace="./layouts/styles :: style"></div>

	<!-- Select2 -->
	<link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
	<link rel="stylesheet" th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">

</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<!-- Importamos navbar -->
		<nav th:replace="./layouts/navbar :: navbar"></nav>

		<!-- Importamos sidebar -->
		<aside th:replace="./layouts/sidebar :: sidebar"></aside>

		<!-- importamos el formulario de creación -->
		<div th:replace="./fragments/modelos/__form :: crearModelo">
		</div>

		<!-- footer-->
		<footer th:replace="./layouts/footer :: footer"></footer>

		<!-- Importamos Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">

		</aside>
	</div>


	<!-- Importamos scripts genericos-->
	<div th:replace="./layouts/scripts :: scripts"></div>

	<!-- Importamos Select2-->
	<script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>

	<script>
		$(function () {
			//Initialize Select2 Elements
			$('.select2').select2()

			//Initialize Select2 Elements
			$('.select2bs4').select2({
				theme: 'bootstrap4'
			})
		})
	</script>


</body>

</html>