<div th:fragment="listarModelos" class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12">
					<h1>Listar modelos</h1>
				</div>
				<!-- <div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Buttons</li>
					</ol>
				</div>-->
			</div>
	</section>

	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Listado</h3>
							<a th:href="@{/modelos/crear}" class="btn btn-primary float-right">Crear modelo</a>
						</div>
						<div class="card-body">
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>Proyecto</th>
										<th>Comuna</th>
										<th>Modificar</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Trident</td>
										<td>Internet
											Explorer 4.0
										</td>
										<td>Win 95+</td>
										<td>
											<div class="row">
												<div class="col col-sm4">
													<a class="btn btn-block btn-xs btn-info"><i
															class="far fa-eye"></i></a>
												</div>
												<div class="col col-sm4">
													<a class="btn btn-block btn-xs btn-secondary"><i
															class="far fa-edit"></i></a>
												</div>
												<div class="col col-sm4">
													<button class="btn btn-block btn-xs btn-danger"><i
															class="far fa-trash-alt"></i></button>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>