<!-- Main Sidebar Container -->
<aside th:fragment="sidebar" class="main-sidebar sidebar-dark-primary elevation-4">
	<div class="sidebar">
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img th:src="@{/img/linux.png}" class="img-circle elevation-2" alt="User Image">
			</div>
			<div class="info">
				<a href="#" class="d-block">Rodrigo Otárola</a>
			</div>
		</div>

		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

				<!--Menú Dashboard-->
				<li class="nav-item">
					<a th:href="@{/}" th:class="'nav-link '+${titulo == 'Dashboard' ? 'active' : ''}" >
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>
							Dashboard
						</p>
					</a>
				</li>

				<!--Menú desplegable Cotizaciones -->
				<li th:class="'nav-item ' +${titulo  == 'Cotizaciones'  ? 'menu-open' : ''}">
					<a href="#" th:class="'nav-link ' +${titulo  == 'Cotizaciones'  ? 'active' : ''}">
						<i class="nav-icon fas fa-money-check"></i>
						<p>
							Cotizaciones
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{/cotizaciones/listar}" th:class="'nav-link ' +${subtitulo  == 'Listar Cotizaciones'  ? 'active' : ''}">
								<i class="far fa-circle nav-icon"></i>
								<p>Listar cotizaciones</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/cotizaciones/crear}" th:class="'nav-link ' +${subtitulo  == 'Crear Cotizaciones'  ? 'active' : ''}">
								<i class="far fa-circle nav-icon"></i>
								<p>Crear Cotización</p>
							</a>
						</li>
					</ul>
				</li>

				<!--Menú desplegable Proyectos-->
				<li th:class="'nav-item ' +${titulo  == 'Proyectos'  ? 'menu-open' : ''}">
					<a href="#" th:class="'nav-link ' +${titulo  == 'Proyectos'  ? 'active' : ''}">
						<i class="nav-icon fas fa-city"></i>
						<p>
							Proyectos
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{/proyectos/listar}" th:class="'nav-link ' +${subtitulo  == 'Listar Proyectos'  ? 'active' : ''}">
								<i class="far fa-circle nav-icon"></i>
								<p>Listar Proyectos</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/proyectos/crear}" th:class="'nav-link ' +${subtitulo  == 'Crear Proyectos'  ? 'active' : ''}">
								<i class="far fa-circle nav-icon"></i>
								<p>Crear Proyecto</p>
							</a>
						</li>

					</ul>
				</li>

				<!--Menú desplegable Departamentos-->
				<li th:class="'nav-item ' +${titulo  == 'Modelos'  ? 'menu-open' : ''}">
					<a href="#" th:class="'nav-link ' +${titulo  == 'Modelos'  ? 'active' : ''}">
						<i class="nav-icon fas fa-building"></i>
						<p>
							Modelos
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{/modelos/listar}" th:class="'nav-link ' +${subtitulo  == 'Listar Modelos'  ? 'active' : ''}">
								<i class="far fa-circle nav-icon"></i>
								<p>Listar Modelos</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/modelos/crear}" th:class="'nav-link ' +${subtitulo  == 'Crear Modelos'  ? 'active' : ''}">
								<i class="far fa-circle nav-icon"></i>
								<p>Crear Modelo</p>
							</a>
						</li>
					</ul>
				</li>

				<!--Menú desplegable Comunas-->
				<li th:class="'nav-item ' +${titulo  == 'Comunas'  ? 'menu-open' : ''}">
					<a href="#" th:class="'nav-link ' +${titulo  == 'Comunas'  ? 'active' : ''}">
						<i class="nav-icon far fa-flag"></i>
						<p>
							Comunas
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{/comunas/listar}" th:class="'nav-link ' +${subtitulo  == 'Listar Comunas'  ? 'active' : ''}">
								<i class="far fa-circle nav-icon"></i>
								<p>Listar comunas</p>
							</a>
						</li>
					</ul>

					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{/comunas/crear}" th:class="'nav-link ' +${subtitulo  == 'Crear Comunas'  ? 'active' : ''}">
								<i class="far fa-circle nav-icon"></i>
								<p>Crear comuna</p>
							</a>
						</li>
					</ul>
				</li>

				<!--Menú desplegable -->
				<li th:class="'nav-item ' +${titulo  == 'Usuarios'  ? 'menu-open' : ''}">
					<a href="#" th:class="'nav-link ' +${titulo  == 'Usuarios'  ? 'active' : ''}">
						<i class="nav-icon fas fa-users"></i>
						<p>
							Usuarios
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{/usuarios/listar}" th:class="'nav-link ' +${subtitulo  == 'Listar Usuarios'  ? 'active' : ''}">
								<i class="far fa-circle nav-icon"></i>
								<p>Listar Usuarios</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/usuarios/crear}" th:class="'nav-link ' +${subtitulo  == 'Crear Usuarios'  ? 'active' : ''}">
								<i class="far fa-circle nav-icon"></i>
								<p>Crear Usuarios</p>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</aside>