<div th:fragment="CotizacionesArchivadas" class="card" id="mostrarArchivadas" style="display: none;">
	<div class="card-title">
		<h2>Cotizaciones Archivadas</h2>
	</div>
	<div class="card-body">
		<table id="example2" class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Rendering engine</th>
					<th>Browser</th>
					<th>Platform(s)</th>
					<th>Engine version</th>
					<th>CSS grade</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Trident</td>
					<td>Internet
						Explorer 4.0
					</td>
					<td>Win 95+</td>
					<td> 4</td>
					<td>
						<div class="row">
							<div class="col col-sm4">
								<a class="btn btn-block btn-xs btn-info"><i class="far fa-eye"></i></a>
							</div>
						</div>
					</td>
				</tr>

				<tr>
					<td>Presto</td>
					<td>Opera for Wii</td>
					<td>Wii</td>
					<td>-</td>
					<td>
						<div class="row">
							<div class="col col-sm4">
								<a class="btn btn-block btn-xs btn-info"><i class="far fa-eye"></i></a>
							</div>

						</div>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>