<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Usuario</title>

	<!-- Importamos estilos de adminLte -->
	<div th:replace="./layouts/styles :: style"></div>

</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<!-- Importamos navbar -->
		<nav th:replace="./layouts/navbar :: navbar"></nav>

		<!-- Importamos sidebar -->
		<aside th:replace="./layouts/sidebar :: sidebar"></aside>

		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-12">
							<h1 th:text="${subtitulo}"></h1>
						</div>
						<!-- <div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Buttons</li>
					</ol>
				</div>-->
					</div>
			</section>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-6 col-6">
							<div class="card card-info">
								<div class="card-header">
									<h3 class="card-title">Formulario</h3>
								</div>
								<div class="card-body">
									<div th:if="${opcion.equals('ver')}">
										<div class="form-group row">
											<label for="rut" class="col-sm-2 col-form-label">RUT</label>
											<div class="col-sm-4">
												<input th:field="*{usuario.rut}" type="text" class="form-control"
													id="rut" placeholder="RUT sin puntos ni guión" disabled>
											</div>
										</div>
										<div class="form-group row">
											<label for="nombres" class="col-sm-2 col-form-label">Nombres</label>
											<div class="col-sm-4">
												<input th:field="*{usuario.nombres}" type="text" class="form-control"
													id="nombres" placeholder="Nombre" disabled>
											</div>
										</div>
										<div class="form-group row">
											<label for="ap_paterno" class="col-sm-2 col-form-label">A Paterno</label>
											<div class="col-sm-4">
												<input th:field="*{usuario.ap_paterno}" type="text" class="form-control"
													id="ap_paterno" placeholder="Apellido Paterno" disabled>
											</div>

											<label for="ap_materno" class="col-sm-2 col-form-label">A Materno</label>
											<div class="col-sm-4">
												<input th:field="*{usuario.ap_materno}" type="text" class="form-control"
													id="ap_materno" placeholder="Apellido Materno" disabled>
											</div>
										</div>
										<div class="form-group row">
											<label for="email" class="col-sm-2 col-form-label">E-mail</label>
											<div class="col-sm-4">
												<input th:field="*{usuario.email}" type="email" class="form-control"
													id="email" placeholder="Correo Electrónico" disabled>
											</div>

											<label for="direccion" class="col-sm-2 col-form-label">Dirección</label>
											<div class="col-sm-4">
												<input th:field="*{usuario.direccion}" type="text" class="form-control"
													id="direccion" placeholder="Domicilio particular" disabled>
											</div>
										</div>
										<div class="card-footer">
											<a th:href="@{/usuarios/listar}" class="btn btn-warning">Volver</a>

											<a th:href="@{'/usuarios/editar/' + ${usuario.id}}"
												class="btn btn-info">Editar</a>
										</div>
									</div>

									<form th:if="${opcion.equals('editar')}" class="form-horizontal"
										th:action="@{/usuarios/guardar}" th:object="${usuario}" method="post"
										autocomplete="off">

										<input th:field="*{id}" type="hidden" class="form-control">

										<div class="card-body">
											<div class="form-group row">
												<label for="rut" class="col-sm-2 col-form-label">RUT</label>
												<div class="col-sm-4">
													<input th:field="*{rut}" type="text" class="form-control" id="rut"
														placeholder="RUT sin puntos ni guión">
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('rut')}" th:errors="*{rut}"></small>
												</div>
											</div>
											<div class="form-group row">
												<label for="nombres" class="col-sm-2 col-form-label">Nombres</label>
												<div class="col-sm-4">
													<input th:field="*{nombres}" type="text" class="form-control"
														id="nombres" placeholder="Nombre">
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('nombres')}"
														th:errors="*{nombres}"></small>
												</div>
											</div>
											<div class="form-group row">
												<label for="ap_paterno" class="col-sm-2 col-form-label">A
													Paterno</label>
												<div class="col-sm-4">
													<input th:field="*{ap_paterno}" type="text" class="form-control"
														id="ap_paterno" placeholder="Apellido Paterno">
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('ap_paterno')}"
														th:errors="*{ap_paterno}"></small>
												</div>

												<label for="ap_materno" class="col-sm-2 col-form-label">A
													Materno</label>
												<div class="col-sm-4">
													<input th:field="*{ap_materno}" type="text" class="form-control"
														id="ap_materno" placeholder="Apellido Materno">
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('ap_materno')}"
														th:errors="*{ap_materno}"></small>
												</div>
											</div>
											<div class="form-group row">
												<label for="email" class="col-sm-2 col-form-label">E-mail</label>
												<div class="col-sm-4">
													<input th:field="*{email}" type="email" class="form-control"
														id="email" placeholder="Correo Electrónico">
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('email')}"
														th:errors="*{email}"></small>
												</div>

												<label for="direccion" class="col-sm-2 col-form-label">Dirección</label>
												<div class="col-sm-4">
													<input th:field="*{direccion}" type="text" class="form-control"
														id="direccion" placeholder="Domicilio particular">
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('direccion')}"
														th:errors="*{direccion}"></small>
												</div>
											</div>

											<div class="form-group row">
												<label for="roles" class="col-sm-2 col-form-label">Perfil</label>
												<div class="col-sm-10">
													<select class="form-control select2bs4" style="width: 100%;"
														th:name="rol">
														<option selected disabled>Seleccione</option>
														<option th:each="rol:${roles}" th:value="${rol.id}"
															th:text="${rol.nombre}">
														</option>
													</select>
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('id_perfil')}"
														th:errors="*{id_perfil}"></small>
												</div>
											</div>
										</div>
										<div class="card-footer">
											<a th:href="@{/usuarios/listar}" class="btn btn-warning">Volver</a>

											<button type="submit" class="btn btn-info">Actualizar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
			</section>
		</div>
		<!-- footer-->
		<footer th:replace="./layouts/footer :: footer"></footer>

		<!-- Importamos Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
		</aside>
	</div>

	<!-- Importamos scripts genericos-->
	<div th:replace="./layouts/scripts :: scripts"></div>

</body>

</html>