<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cotizaciones</title>

	<!-- Importamos estilos de adminLte-->
	<div th:replace="./layouts/styles :: style"></div>

</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<!-- Importamos navbar -->
		<nav th:replace="./layouts/navbar :: navbar"></nav>

		<!-- Importamos sidebar -->
		<aside th:replace="./layouts/sidebar :: sidebar"></aside>

		<!-- importamos el formulario de creación 
		<div th:replace="./fragments/cotizaciones/__form :: crearCotizacion">
		</div>-->

		<div th:fragment="crearCotizacion" class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-12">
							<h1>Listar cotizaciones</h1>
						</div>
						<!-- <div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Buttons</li>
					</ol>
				</div>-->
					</div>
			</section>

			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 col-12">
							<div class="card">
								<div class="card-header row">
									<h3 class="card-title col-sm-4">Selecciona para mostrar: </h3>
									<div class="col col-sm2">
										<button class="btn btn-sm btn-success btn-block" id="vigentes">Vigentes</button>

									</div>
									<div class="col col-sm2">
										<button class="btn btn-sm btn-warning btn-block"
											id="archivadas">Archivadas</button>
									</div>
									<div class="col col-sm2">
										<button class="btn btn-sm btn-secondary btn-block"
											id="eliminadas">Eliminadas</button>
									</div>

									<div class="col col-sm2">
										<button class="btn btn-sm btn-danger btn-block" id="ocultar">Ocultar</button>
									</div>
								</div>
							</div>
							<div th:replace="/fragments/cotizaciones/TablasEstados/activas :: CotizacionesActivas">
							</div>

							<div
								th:replace="/fragments/cotizaciones/TablasEstados/archivadas :: CotizacionesArchivadas">
							</div>


							<div
								th:replace="/fragments/cotizaciones/TablasEstados/eliminadas :: CotizacionesEliminadas">
							</div>
						</div>
					</div>

				</div>
		</div>
		</section>
	</div>


	<!-- footer-->
	<footer th:replace="./layouts/footer :: footer"></footer>

	<!-- Importamos Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">

	</aside>
	</div>


	<!-- Importamos scripts genericos-->
	<div th:replace="./layouts/scripts :: scripts"></div>

	<script>
		$(document).ready(function () {
			$("#vigentes").click(function () {
				$("#mostrarVigentes").show();
				$("#mostrarArchivadas").hide();
				$("#mostrarEliminadas").hide();
			});
			$("#archivadas").click(function () {
				$("#mostrarArchivadas").show();
				$("#mostrarVigentes").hide();
				$("#mostrarEliminadas").hide();
			});
			$("#eliminadas").click(function () {
				$("#mostrarEliminadas").show();
				$("#mostrarVigentes").hide();
				$("#mostrarArchivadas").hide();
			});
			$("#ocultar").click(function () {
				$("#mostrarEliminadas").hide();
				$("#mostrarVigentes").hide();
				$("#mostrarArchivadas").hide();
			});

		});
	</script>

</body>

</html>